*.dll
/node_modules
/dist
/.tmp
/packages
/SLCProtal/bower_components
/bower_components
/BusinessEntities/obj
/BusinessEntities/bin
/BusinessService/obj
/BusinessService/bin
/Common/obj
/Common/bin
/SLCProtal/bin
/SLCProtal/obj
/SLCProtal/log
SLCProtal.v12.suo
SLCProtal.v11.suo
