@model SLCProtal.Models.Account.LoginModel

@{
    ViewBag.Title = "登录页";
    Layout = null;
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/base.css" type="text/css" rel="stylesheet" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link href="~/bower_components/toastr/build/toastr.min.css" rel="stylesheet" />
    @* <script type="text/javascript" src="js/jquery.min.js"></script>*@

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/toastr/build/toastr.min.js"></script>
    @*<script src="~/bower_components/moment/min/moment.min.js"></script>
    <script src="~/bower_components/moment/locale/zh-cn.js"></script>*@
    <script src="~/bower_components/layer/layer.js"></script>
    <!--表单验证-->
    <script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/bower_components/jquery-validation/src/localization/messages_zh.js"></script>
    @*  <script src="org/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="org/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>*@
    <script src="~/js/common.js"></script>
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/babel-polyfill/6.2.0/polyfill.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script src="js/ie6PNG.js" type="text/javascript"></script>
    <script type="text/javascript">DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>登录</title>
</head>
<body>
    <!--***header***-->
    <div class="hNav2">
        <div class="hNav2In">
            <a class="hlogo" href="#">
                <img src="/images/logo.png"></a>
            <a class="hlogo" href="#">
                <img src="/images/line.png"></a>
            <h4 class="login_banner">海外医疗服务专家</h4>
            <h4 style="margin-top: 10px;">中国获美国多家权威医院正式签约合作机构</h4>

        </div>
    </div>
    <!--***header***-->
    <!--content-->
    <div class="g-cn">
        <div class="login">
            <div class="loginCont">
                <div class="loginBox">
                    @using (Html.BeginForm("login", "account", FormMethod.Post, new { id = "loginForm" }))
                    {
                  
                        <ul class="loginIn">
                            <li class="login_hd">
                                <div class="login_title">用户登录</div>

                                @*<div class="login_reg"><a href="#">注册新用户</a></div>*@

                                <div style="display: none" class="login_reg"><a href="#">注册新用户</a></div>

                            </li>
                            <li class="login_iput_title">手机号</li>
                            <li class="login_name">
                                <input type="text" name="username" class="login_iput" value="@Model.username"></li>
                            <li class="login_pwd">
                                <input type="password" name="password" class="login_iput" value="@Model.PassWord"></li>
                            <li class="login_logName">
                                <a href="javascript:void(0)" class="login_rempwd">忘记密码？</a>
                                <input type="checkbox" checked="checked" id="cookietime" name="checkbox">
                                <label style="margin-left: 2px; color: #6c6e70;" for="cookietime">记住密码</label>

                            </li>
                            <li class="login_btnRow">
                                <input type="submit" class="login_btn1" id="btnLogin" value="登录">
                            </li>
                        </ul>
                    }
                </div>
            </div>

        </div>
    </div>
    <!--***content***-->
    <!--***footer***-->
    <div class="g-ft">
        <div class="clearfix">
            Copyright &copy; 2013 All Rights Reserved  版权所有：北京盛诺一家医院管理咨询有限公司&nbsp;&nbsp;&nbsp;&nbsp;京ICP备11025849-2&nbsp;&nbsp;
            <a>
                <img src="/images/login_baidu.png" /></a><a><img src="/images/tj.png" /></a>
        </div>
    </div>
    <!--***footer***-->

    <script type="text/javascript">
        $(function () {
            //忘记密码
            $('.login_logName .login_rempwd').click(function () {

                layer.open({
                    type: 2,
                    title: '忘记密码',
                    shadeClose: false,
                    shade: 0.8,
                    area: ['500px', '508px'],
                    content: 'Account/ChangePassword' //iframe的url
                });
            })
            /*验证登录*/
            $("#loginForm").validate({
                errorElement: 'em',
                onfocusout: function (element) { $(element).valid(); },
                rules: {
                    username: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    username: {
                        required: "手机号不能为空"
                    },
                    password: {
                        required: "密码不能为空"
                    }
                }
            });

        });
    </script>
</body>
</html>


@if (ViewData["error"] != null)
{
    <script type="text/javascript">
        logger.error("@ViewData["error"]");
    </script>
}
@*else if (ViewData["redirect"] != null)
{
    <script type="text/javascript">
        window.location.href = "@ViewData["redirect"]";
    </script>
}*@