@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript">
        $(function () {
            window.location.href = '@FormsAuthentication.LoginUrl';
        });
    </script>
    <meta name="viewport" content="width=device-width"/>
    <title>Redirect</title>
</head>
<body>
<div>

</div>
</body>
</html>
