<div class="flighMn">
    机票预订
</div>
<div>
    <img src="/images/row_line.png">
</div>
<div>
    <table class="tabfligh">
        <tbody>
            <tr>
                <td>
                    <img src="/images/icon/computer.png"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="出发航班"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="航空公司"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/flight.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="出发机场"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="降落机场"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/time.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="出发时间"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="降落时间"></td>
            </tr>

        </tbody>
    </table>

</div>
<div>
    <img src="/images/row_line.png">
</div>
<div>
    <table class="tabfligh">
        <tbody>
            <tr>
                <td>
                    <img src="/images/icon/computer.png"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="出发航班"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="航空公司"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/flight.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="出发机场"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="降落机场"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/time.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="出发时间"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="降落时间"></td>
            </tr>

        </tbody>
    </table>

</div>
<div>
    <img src="/images/row_line.png">
</div>
<div>
    <table class="tabfligh">
        <tbody>
            <tr>
                <td>
                    <img src="/images/icon/computer.png"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="出发航班"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="航空公司"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/flight.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="出发机场"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="降落机场"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/time.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="出发时间"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="降落时间"></td>
            </tr>

        </tbody>
    </table>
</div>
<script>
    console.log("123");
</script>
