@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="css/base.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <style type="text/css"></style>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!--表单验证-->
    <script src="org/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="org/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

    <!--[if IE 6]>
    <script src="js/ie6PNG.js" type="text/javascript"></script>
    <script type="text/javascript">DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <title>机票预订</title>
</head>
<body>
    <!--***header***-->
    <div class="hNav2">
        <div class="userMenu">
            <img src="images/user.png">
            登录
        </div>
        <a class="wecTips">
            <img src="images/logo_c.png">
        </a>
    </div>
    <!--***header***-->
    <!--Progress Bar-->
    <div class="progressbar_bg">
        <div style="position: relative; margin-left: 200px; width: 1000px;">
            <div class="left_complete">起草</div>
            <div class="middle_start">审批中</div>
            <div class="middle_notstart">合同签订</div>
            <div class="middle_notstart">执行中</div>
            <div class="middle_notstart">预约完成</div>
            <div class="right_notstart">出国准备</div>
        </div>
    </div>
    <!--Progress Bar-->
    <!--content-->

    <div class="usrBd">
        <div class="usrfligh clearfix">
            <div class="usrSid">
                <div class="usrSidMenu">
                    <ul class="usrSubMenu" style="display: block;">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">查看服务</a></li>
                        <li><a href="#">海外服务</a></li>
                        <li><a href="#">查看翻译</a></li>
                        <li><a href="#">查看签证</a></li>
                        <li><a href="#">查看预约</a></li>
                        <li class="act"><a href="#">机票预订</a></li>
                        <li><a href="#">接机服务</a></li>
                        <li><a href="#">送机服务</a></li>
                        <li><a href="#">酒店服务</a></li>
                        <li><a href="#">产品研发</a></li>
                        <li><a href="#">医生留言</a></li>
                        <li><a href="#">客户投诉</a></li>
                        <li><a href="#">联系方式</a></li>
                    </ul>
                </div>
            </div>
            <div class="usrMn">
                <div class="flighMn">
                    机票预订
                </div>
                <div>
                    <img src="images/row_line.png">
                </div>
                <div>
                    <table class="tabfligh">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="images/icon/computer.png"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发航班"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="航空公司"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/icon/flight.png"></td>

                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发机场"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="降落机场"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/icon/time.png"></td>

                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发时间"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="降落时间"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div>
                    <img src="images/row_line.png">
                </div>
                <div>
                    <table class="tabfligh">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="images/icon/computer.png"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发航班"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="航空公司"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/icon/flight.png"></td>

                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发机场"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="降落机场"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/icon/time.png"></td>

                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发时间"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="降落时间"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div>
                    <img src="images/row_line.png">
                </div>
                <div>
                    <table class="tabfligh">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="images/icon/computer.png"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发航班"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="航空公司"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/icon/flight.png"></td>

                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发机场"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="降落机场"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/icon/time.png"></td>

                                <td>
                                    <input type="text" class="txtfligh" placeholder="出发时间"></td>
                                <td>
                                    <input type="text" class="txtfligh" placeholder="降落时间"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!--content-->
    <!--***footer***-->
    <div class="g-ft" style="background-color: #efefef; margin: 0px; color: #a8a8a8; padding-top: 15px; height: 15px;">
        <div class="clearfix">
            Copyright © 2013 All Rights Reserved  版权所有：北京盛诺一家医院管理咨询有限公司&nbsp;&nbsp;&nbsp;&nbsp;京ICP备11025849-2京网公安备11010102001876号
        </div>
    </div>
    <!--***footer***-->



</body>
</html>
