@model System.Web.Mvc.HandleErrorInfo
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    {
        //Layout = "~/Views/Shared/_Layout_V2.cshtml";
    }
}

<h2>
    抱歉了。
</h2>
<div>
   
</div>
<div>
    
</div>

