body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:710px;
}
#u11 {
  position:absolute;
  left:-10px;
  top:171px;
  width:1050px;
  height:710px;
}
#u12 {
  position:absolute;
  left:2px;
  top:347px;
  width:1046px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
  background:inherit;
  background-color:rgba(204, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u13 {
  position:absolute;
  left:360px;
  top:717px;
  width:190px;
  height:126px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
}
#u15 {
  position:absolute;
  left:360px;
  top:717px;
  width:190px;
  height:126px;
}
#u16 {
  position:absolute;
  left:2px;
  top:55px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u17 {
  position:absolute;
  left:760px;
  top:581px;
  width:190px;
  height:126px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u19 {
  position:absolute;
  left:560px;
  top:717px;
  width:190px;
  height:126px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#66FF33;
}
#u21 {
  position:absolute;
  left:360px;
  top:581px;
  width:190px;
  height:126px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#66FF33;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u23 {
  position:absolute;
  left:560px;
  top:581px;
  width:190px;
  height:126px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:100px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-20px;
  width:850px;
  height:100px;
}
#u26 {
  position:absolute;
  left:2px;
  top:42px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u27 {
  position:absolute;
  left:760px;
  top:717px;
  width:190px;
  height:126px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0066FF;
}
#u28 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
}
#u29 {
  position:absolute;
  left:760px;
  top:717px;
  width:190px;
  height:126px;
}
#u30 {
  position:absolute;
  left:2px;
  top:55px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
}
#u31 {
  position:absolute;
  left:560px;
  top:581px;
  width:190px;
  height:126px;
}
#u32 {
  position:absolute;
  left:2px;
  top:55px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
}
#u33 {
  position:absolute;
  left:560px;
  top:717px;
  width:190px;
  height:126px;
}
#u34 {
  position:absolute;
  left:2px;
  top:55px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
}
#u35 {
  position:absolute;
  left:360px;
  top:581px;
  width:190px;
  height:126px;
}
#u36 {
  position:absolute;
  left:2px;
  top:55px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:126px;
}
#u37 {
  position:absolute;
  left:760px;
  top:581px;
  width:190px;
  height:126px;
}
#u38 {
  position:absolute;
  left:2px;
  top:55px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:91px;
}
#u39 {
  position:absolute;
  left:-110px;
  top:0px;
  width:1150px;
  height:91px;
}
#u40 {
  position:absolute;
  left:2px;
  top:38px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:0px;
  top:90px;
  width:1040px;
  height:90px;
}
#u42 {
  position:absolute;
  left:2px;
  top:37px;
  width:1036px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:46px;
  top:100px;
  width:124px;
  height:70px;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:180px;
  top:100px;
  width:124px;
  height:70px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:314px;
  top:101px;
  width:130px;
  height:70px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:454px;
  top:101px;
  width:126px;
  height:70px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:2px;
  top:27px;
  width:122px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:590px;
  top:101px;
  width:120px;
  height:70px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:720px;
  top:101px;
  width:130px;
  height:70px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:860px;
  top:101px;
  width:130px;
  height:70px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:70px;
}
#u57 {
  position:absolute;
  left:1010px;
  top:101px;
  width:20px;
  height:70px;
}
#u58 {
  position:absolute;
  left:2px;
  top:27px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:70px;
}
#u59 {
  position:absolute;
  left:10px;
  top:100px;
  width:20px;
  height:70px;
}
#u60 {
  position:absolute;
  left:2px;
  top:27px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:233px;
}
#u61 {
  position:absolute;
  left:960px;
  top:417px;
  width:50px;
  height:233px;
}
#u62 {
  position:absolute;
  left:2px;
  top:108px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:449px;
}
#u63 {
  position:absolute;
  left:-1px;
  top:881px;
  width:1040px;
  height:449px;
}
#u64 {
  position:absolute;
  left:2px;
  top:216px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:440px;
}
#u65 {
  position:absolute;
  left:0px;
  top:1330px;
  width:1040px;
  height:440px;
  color:#FFFFFF;
}
#u66 {
  position:absolute;
  left:2px;
  top:212px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:960px;
  top:520px;
  width:50px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  position:absolute;
  left:200px;
  top:1000px;
  width:380px;
  height:290px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:290px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u69 {
  position:absolute;
  left:160px;
  top:1000px;
  width:405px;
  height:295px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  text-align:center;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u72 {
  position:absolute;
  left:133px;
  top:0px;
  width:133px;
  height:30px;
  text-align:center;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u74 {
  position:absolute;
  left:266px;
  top:0px;
  width:134px;
  height:30px;
  text-align:center;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u76 {
  position:absolute;
  left:0px;
  top:30px;
  width:133px;
  height:46px;
  text-align:center;
}
#u77 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u78 {
  position:absolute;
  left:133px;
  top:30px;
  width:133px;
  height:46px;
  text-align:center;
}
#u79 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
}
#u80 {
  position:absolute;
  left:266px;
  top:30px;
  width:134px;
  height:46px;
  text-align:center;
}
#u81 {
  position:absolute;
  left:2px;
  top:15px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u82 {
  position:absolute;
  left:0px;
  top:76px;
  width:133px;
  height:54px;
  text-align:center;
}
#u83 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u84 {
  position:absolute;
  left:133px;
  top:76px;
  width:133px;
  height:54px;
  text-align:center;
}
#u85 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
}
#u86 {
  position:absolute;
  left:266px;
  top:76px;
  width:134px;
  height:54px;
  text-align:center;
}
#u87 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u88 {
  position:absolute;
  left:0px;
  top:130px;
  width:133px;
  height:54px;
  text-align:center;
}
#u89 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u90 {
  position:absolute;
  left:133px;
  top:130px;
  width:133px;
  height:54px;
  text-align:center;
}
#u91 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
}
#u92 {
  position:absolute;
  left:266px;
  top:130px;
  width:134px;
  height:54px;
  text-align:center;
}
#u93 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u94 {
  position:absolute;
  left:0px;
  top:184px;
  width:133px;
  height:54px;
  text-align:center;
}
#u95 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u96 {
  position:absolute;
  left:133px;
  top:184px;
  width:133px;
  height:54px;
  text-align:center;
}
#u97 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
}
#u98 {
  position:absolute;
  left:266px;
  top:184px;
  width:134px;
  height:54px;
  text-align:center;
}
#u99 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
}
#u100 {
  position:absolute;
  left:0px;
  top:238px;
  width:133px;
  height:52px;
  text-align:center;
}
#u101 {
  position:absolute;
  left:2px;
  top:18px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
}
#u102 {
  position:absolute;
  left:133px;
  top:238px;
  width:133px;
  height:52px;
  text-align:center;
}
#u103 {
  position:absolute;
  left:2px;
  top:18px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u104 {
  position:absolute;
  left:266px;
  top:238px;
  width:134px;
  height:52px;
  text-align:center;
}
#u105 {
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u106 {
  position:absolute;
  left:553px;
  top:51px;
  width:70px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u108 {
  position:absolute;
  left:633px;
  top:52px;
  width:70px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u110 {
  position:absolute;
  left:703px;
  top:52px;
  width:70px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u112 {
  position:absolute;
  left:773px;
  top:52px;
  width:70px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u114 {
  position:absolute;
  left:853px;
  top:52px;
  width:70px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:687px;
  top:1px;
  width:350px;
  height:30px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:720px;
  top:30px;
  width:220px;
  height:90px;
}
#u118_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:226px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:95px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  text-align:center;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u122 {
  position:absolute;
  left:0px;
  top:30px;
  width:220px;
  height:30px;
  text-align:center;
}
#u123 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u124 {
  position:absolute;
  left:0px;
  top:60px;
  width:220px;
  height:30px;
  text-align:center;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
  background:inherit;
  background-color:rgba(141, 155, 182, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:416px;
  top:1360px;
  width:190px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:170px;
}
#u128 {
  position:absolute;
  left:241px;
  top:1441px;
  width:178px;
  height:170px;
}
#u129 {
  position:absolute;
  left:2px;
  top:77px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:242px;
  top:1611px;
  width:178px;
  height:75px;
}
#u131 {
  position:absolute;
  left:2px;
  top:22px;
  width:174px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:170px;
}
#u132 {
  position:absolute;
  left:434px;
  top:1441px;
  width:171px;
  height:170px;
}
#u133 {
  position:absolute;
  left:2px;
  top:77px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:170px;
}
#u134 {
  position:absolute;
  left:624px;
  top:1441px;
  width:171px;
  height:170px;
}
#u135 {
  position:absolute;
  left:2px;
  top:77px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:624px;
  top:1611px;
  width:171px;
  height:75px;
}
#u137 {
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:250px;
}
#u138 {
  position:absolute;
  left:0px;
  top:1710px;
  width:1040px;
  height:250px;
}
#u139 {
  position:absolute;
  left:2px;
  top:117px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:101px;
}
#u140 {
  position:absolute;
  left:0px;
  top:180px;
  width:1040px;
  height:100px;
}
#u141 {
  position:absolute;
  left:2px;
  top:42px;
  width:1036px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:245px;
  top:181px;
  width:550px;
  height:400px;
  overflow:hidden;
  visibility:hidden;
}
#u142_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:240px;
}
#u143 {
  position:absolute;
  left:0px;
  top:167px;
  width:252px;
  height:240px;
}
#u144 {
  position:absolute;
  left:2px;
  top:112px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:135px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:135px;
}
#u146 {
  position:absolute;
  left:2px;
  top:60px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u147 {
  position:absolute;
  left:330px;
  top:224px;
  width:200px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u149 {
  position:absolute;
  left:330px;
  top:289px;
  width:200px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u151 {
  position:absolute;
  left:269px;
  top:230px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u153 {
  position:absolute;
  left:257px;
  top:293px;
  width:73px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u155 {
  position:absolute;
  left:334px;
  top:158px;
  width:139px;
  height:37px;
  color:#0099FF;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:257px;
  top:344px;
  width:153px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u158 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u159 {
  position:absolute;
  left:440px;
  top:344px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u160 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:160px;
  top:1000px;
  width:405px;
  height:295px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  text-align:center;
}
#u163 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u164 {
  position:absolute;
  left:133px;
  top:0px;
  width:133px;
  height:30px;
  text-align:center;
}
#u165 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u166 {
  position:absolute;
  left:266px;
  top:0px;
  width:134px;
  height:30px;
  text-align:center;
}
#u167 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u168 {
  position:absolute;
  left:0px;
  top:30px;
  width:133px;
  height:46px;
  text-align:center;
}
#u169 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u170 {
  position:absolute;
  left:133px;
  top:30px;
  width:133px;
  height:46px;
  text-align:center;
}
#u171 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
}
#u172 {
  position:absolute;
  left:266px;
  top:30px;
  width:134px;
  height:46px;
  text-align:center;
}
#u173 {
  position:absolute;
  left:2px;
  top:15px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u174 {
  position:absolute;
  left:0px;
  top:76px;
  width:133px;
  height:54px;
  text-align:center;
}
#u175 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u176 {
  position:absolute;
  left:133px;
  top:76px;
  width:133px;
  height:54px;
  text-align:center;
}
#u177 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
}
#u178 {
  position:absolute;
  left:266px;
  top:76px;
  width:134px;
  height:54px;
  text-align:center;
}
#u179 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u180 {
  position:absolute;
  left:0px;
  top:130px;
  width:133px;
  height:54px;
  text-align:center;
}
#u181 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u182 {
  position:absolute;
  left:133px;
  top:130px;
  width:133px;
  height:54px;
  text-align:center;
}
#u183 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
}
#u184 {
  position:absolute;
  left:266px;
  top:130px;
  width:134px;
  height:54px;
  text-align:center;
}
#u185 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u186 {
  position:absolute;
  left:0px;
  top:184px;
  width:133px;
  height:54px;
  text-align:center;
}
#u187 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u188 {
  position:absolute;
  left:133px;
  top:184px;
  width:133px;
  height:54px;
  text-align:center;
}
#u189 {
  position:absolute;
  left:2px;
  top:19px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
}
#u190 {
  position:absolute;
  left:266px;
  top:184px;
  width:134px;
  height:54px;
  text-align:center;
}
#u191 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
}
#u192 {
  position:absolute;
  left:0px;
  top:238px;
  width:133px;
  height:52px;
  text-align:center;
}
#u193 {
  position:absolute;
  left:2px;
  top:18px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
}
#u194 {
  position:absolute;
  left:133px;
  top:238px;
  width:133px;
  height:52px;
  text-align:center;
}
#u195 {
  position:absolute;
  left:2px;
  top:18px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u196 {
  position:absolute;
  left:266px;
  top:238px;
  width:134px;
  height:52px;
  text-align:center;
}
#u197 {
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u198 {
  position:absolute;
  left:410px;
  top:52px;
  width:70px;
  height:30px;
}
#u199 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u200 {
  position:absolute;
  left:479px;
  top:52px;
  width:70px;
  height:30px;
}
#u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u202 {
  position:absolute;
  left:362px;
  top:53px;
  width:48px;
  height:30px;
}
#u203 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:960px;
  top:560px;
  width:50px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u205 {
  position:absolute;
  left:960px;
  top:428px;
  width:50px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u206 {
  position:absolute;
  left:965px;
  top:1078px;
  width:33px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u207 {
  position:absolute;
  left:965px;
  top:986px;
  width:36px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u208 {
  position:absolute;
  left:968px;
  top:1497px;
  width:33px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u209 {
  position:absolute;
  left:969px;
  top:1435px;
  width:33px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
