
                <div class="flighMn">
                    中国 -- 北京
                </div>
                <div>
                    <img src="/images/row_line.png">
                </div>
                <div>
                    <div class="contactinfo">
                        <p class="usetel">电话：010-5673 2678</p>
                        <p class="usefax">传真：010-8518 0522</p>
                        <p class="useemail">邮箱：admin@stluciabj.com</p>
                        <p class="useadd">地址：北京市东城区长安街1号东方广场西一(W1)办公楼2层205</p>
                        <p class="usesub">乘车路线：地铁5号线，东单站A出口，向西300米即到。地铁1号线，王府井站A出口，向东30米即到。</p>
                    </div>
                    <div class="map"><img src="/images/map/map_1.png"></div>
                </div>
                <div class="flighMn">
                    中国 -- 广州
                </div>
                <div>
                    <img src="/images/row_line.png">
                </div>
                <div>
                    <div class="contactinfo">
                        <p class="usetel">电话：020-88831858</p>
                        <p class="usefax">传真：020-88831890</p>
                        <p class="useemail">邮箱：-</p>
                        <p class="useadd">地址：广州市天河区珠江新城珠江西路5号广州国际金融中心32层3209</p>
                        <p class="usesub">乘车路线：地铁3号线、5号线 珠江新城站 B1出口，向东200米即到。</p>
                    </div>
                    <div class="map"><img src="/images/map/map_2.png"></div>
                </div>
                <div class="flighMn">
                    中国 -- 上海
                </div>
                <div>
                    <img src="/images/row_line.png">
                </div>
                <div>
                    <div class="contactinfo">
                        <p class="usetel">电话：021-62881781</p>
                        <p class="usefax">传真：021-62880799</p>
                        <p class="useemail">邮箱：-</p>
                        <p class="useadd">地址：上海市静安区南京西路1266号恒隆广场2号楼2号楼2310</p>
                        <p class="usesub">乘车路线：地铁2号线，南京西路站下车，从1号口出，向西步行800米即到恒隆广场办公楼2号楼。</p>
                    </div>
                    <div class="map"><img src="/images/map/map_3.png"></div>
                </div>
                <div class="flighMn">
                    中国 -- 杭州
                </div>
                <div>
                    <img src="/images/row_line.png">
                </div>
                <div>
                    <div class="contactinfo">
                        <p class="usetel">电话：0571-87359880</p>
                        <p class="usefax">传真：0571-87359881</p>
                        <p class="useemail">邮箱：-</p>
                        <p class="useadd">地址：浙江省杭州市西湖区教工路18号欧美中心(EAC) A1903</p>
                        <p class="usesub">乘车路线：-</p>
                    </div>
                    <div class="map"><img src="/images/map/map_4.png"></div>
                </div>
                <div class="flighMn">
                    中国 -- 郑州
                </div>
                <div>
                    <img src="/images/row_line.png">
                </div>
                <div>
                    <div class="contactinfo"> 
                        <p class="usetel">电话：0371-63509930、0371-67713096</p>
                        <p class="usefax">传真：-</p>
                        <p class="useemail">邮箱：-</p>
                        <p class="useadd">地址：河南省郑州市金水区金水路24号润华商务花园G座605室</p>
                        <p class="usesub">乘车路线：-</p>
                    </div>
                    <div class="map"><img src="/images/map/map_5.png"></div>
                </div>
                <div class="flighMn">
                    美国 -- 波士顿
                </div>
                <div>
                    <img src="/images/row_line.png">
                </div>
                <div>
                    <div class="contactinfo"> 
                        <p class="usetel">电话：001-617-842-3145</p>
                        <p class="usezip">邮编：02109</p> 
                        <p class="useadd">地址：广州市天河区珠江新城珠江西路5号广州国际金融中心32层3209<br>Add:60 State Street Suite 700Bostion MA 02109  </p>
 
                    </div>
                    <div class="map"><img src="/images/map/map_6.png"></div>
                </div>
                <div class="flighMn">
                    美国 -- 休斯顿
                </div>
                <div>
                    <img src="/images/row_line.png">
                </div>
                <div>
                    <div class="contactinfo">
                        电话： 邮编： 地址：
                        <p class="usetel">电话：001-832-789-5200</p>
                        <p class="usezip">邮编：77004</p> 
                        <p class="useadd">地址：美国德克萨斯州休斯顿市赫尔曼博物馆环岛路3号1417房间<br>Add:3 Hermann Museum Cirole Dr,Apartment#1417,Houstion,Texas</p> 
                    </div>
                    <div class="map"><img src="/images/map/map_7.png"></div>
                </div>
<script src="~/js/template.js"  type="text/javascript"></script>
