@model SLCProtal.Models.Other.QAModel

<div class="flighMn">
    医生留言页
</div>
<div>
    <img src="/images/row_line.png">
</div>
<div class="queslist">
    @foreach (var item in @Model.Qas)
    {
        if (!string.IsNullOrEmpty(item.anwser))
        { 
        <div class="questionanswers">
            <label>
                @item.question
            </label>
        </div>
        <div class="answer">
            <div class="answercontent">
                <label>
                    @item.anwser
                </label>
            </div>
        </div>
        
        }
        else
        {   
        <div class="questino">
            <label>
                @item.question
            </label>
        </div>
            
        }

    }

</div>
<form action="/Other/CreateQA" class="subcontent" id="subcontent" method="post" novalidate="novalidate" onsubmit="return check()">
    <textarea id="Question" class="text_box" contenteditable="true" name="Question" placeholder="请留言"></textarea>
    <div style="text-align: right;">
        <button class="btn_blue" type="submit" id="btnSubmit">提交</button>
    </div>
</form>
<script src="~/js/template.js"></script>
<script>

    function check() {
        var text = $('.text_box').val();
        if (!text) {
            logger.error('请输入内容');
            return false;
        }
        return true;
    }
    $(function () {
        var option = {
            submitsuccess: function () {

                $('.usrBd .usrSubMenu a.act').trigger('click');
            }
        }
        $.extend(formOptions, option);
        $("#subcontent").ajaxForm(formOptions);

    })
</script>
@*<form class="subcontent" action="" method="post" novalidate="novalidate">
    <textarea id="text" class="text_box" contenteditable="true" placeholder="请留言"></textarea>
    <div style="text-align: right;">
        <button class="btn_blue" type="submit">提交</button>
    </div>
</form>*@
