@charset "utf-8";
/*rest-css */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
body{color:#333;padding:0;font:12px/100% "Microsoft YaHei",微软雅黑,"\5FAE\8F6F\96C5\9ED1","SimSun";text-align:left;}
fieldset,img{border:none; }
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ul,ol{list-style:none;}
em,i{font-style:normal;}
input{padding-top:0;padding-bottom:0;font-family:"\5FAE\8F6F\96C5\9ED1";}
input::-moz-focus-inner{border:none; padding:0;}
select,input{vertical-align:middle;}
select,input,textarea{font-size:12px;margin:0;}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}
textarea{resize:none;}
table{border-collapse:collapse;}
body>div{text-align:left;}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:none;}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0; font-size:0;overflow:hidden;}
.auto{margin-left:auto;margin-right:auto;}

/*float*/
.mr0{margin-right:0 !important;}
.show{display:block !important;}
.hide{display:none !important;}
.fl{float:left !important;}
.fr{float:right!important;}
.f-show{display:block;}
.f-hide{display:none;}

/*[m=提示性文字]==========*/
.report-tip dt{height:48px;line-height:48px;padding-left:15px;font-size:18px;color:#a40000;}
.report-tip dd{line-height:24px;padding-left:15px;font-size:14px;color:#010101;}
.report-tip dd .txt{margin-bottom:25px;}
.report-step .item dt{height:36px;line-height:36px;padding-left:17px;font-size:16px;color:#333;background:#fcf8e3;}

/*[m=面包屑导航]==========*/
.m-bread{width:1200px;height:20px;line-height:20px;margin:15px auto 10px auto;text-align:left;font-size:12px;}
.m-bread .posi{color:#a40000;}

/*[m=起止日期]==========*/
.m-data{width:310px;float:left;}
.m-data .ipt{width:105px;height:33px;line-height:33px;padding-right:28px;border:1px solid #ccc;float:left;text-indent:10px;font-size:12px;color:#878787;background:#f6f6f6 url(../images/icons/date_icon.png) no-repeat 95% center;}
.m-data .s{height:33px;line-height:33px;margin:0 8px;float:left;}

/*[m=通用表格样式1]==========*/
.m-table1{}
.m-table1 th{padding:9px;border:1px solid #ccc;font-size:14px;background:#e4e4e4;}
.m-table1 tr.nothing{color:#f00;display:none;}
.m-table1 td{padding:9px;border:1px solid #ccc;font-size:14px;}
.m-table1 th.sty1{border-right:none;border-left:none;}
.m-table1 td.sty1{border-top:none;border-right:none;border-left:none;}
.m-table1 th.sty2,.repotrTable2 td.sty2{border-right:1px solid #ccc;}
.repotrTable2 td.sty3{border-bottom:none;}
.repotrTable2 td.sty4{border-top:none;}
.m-table1 .bg1{background-color:#f7f7f7;}
.m-table1 .arow_up,.m-table1 .arow_dw{width:10px;height:6px;display:inline-block;background:url(../images/icons/table_arow_icon.png) left top;}
.m-table1 .arow_dw{background-position:-10px top;}
.m-table1 .alink{margin-right:7px;font-size:14px;color:#004f99;}
/*表格样式1-扩展1*/
.m-table1-1{border-left:0;border-right:0;}
.m-table1-1 td.sty1{border-left:none;border-right:none;border-top:1px solid #ccc;}

/*[m=静态列表公告]==========*/
.operNews2{width:276px;padding-left:32px;border-left:1px solid #ddd;float:right;}
.operNews2 .hd{height:26px;line-height:26px;font-weight:normal;}
.operNews2 .tit{float:left;font-size:18px;color:#a40000;}
.operNews2 .more{float:right;font-size:13px;color:#7e7e7e;}
.operNews2 .operNewsList li{height:28px;line-height:28px;overflow:hidden;background:url(../images/list2_icon.png) no-repeat 5px 12px;}
.operNews2 .operNewsList li a{font-size:14px;color:#7e7e7e;text-decoration:none;}
.operNews2 .operNewsList li span{float:right;color:#7e7e7e;}

/*[m=滚动菜单]==========*/
.siderScroll{width:36px;height:83px;margin-top:-41px;position:fixed;right:0;top:50%;
  _position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.cusServer,.email{width:35px;height:40px;display:block;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.cusServer{background:#e8e7e7 url(../images/cusServer_icon.png) no-repeat center center;}
.email{margin-top:1px;background:#e8e7e7 url(../images/email_icon.png) no-repeat center center;}

/*[m=底部样式2]==========*/
.footer2{width:1212px;height:501px;padding-top:30px;margin:10px auto 0;background:#fff;}
.footer2In{width:1170px;margin:0 auto;}
.footer2_links{}
.footer2_links dt{width:100px;height:83px;line-height:83px;float:left;text-indent:15px;font-size:18px;}
.footer2_links dd{width:1019px;float:left;}
.footer2_links dd a{display:inline-block;margin:0 1px;}
.footer2End{height:20px;margin-top:35px;background:url(../images/footer2_line_bg.jpg) repeat-x left center;}
.footer2End span{width:70px;height:20px;line-height:20px;display:block;margin:0 auto;text-align:center;font-size:18px;color:#ccccd0;background:#fff;}
.footer2_Nav{width:938px;height:38px;margin:204px auto 0;text-align:center;}
.footer2_Nav a{width:120px;line-height:18px;font-size:12px;text-align:center;display:inline-block;}
.footer2_cp{width:938px;margin:36px auto 0;text-align:center;}
.footer2_cp .txt{font-size:12px;color:#5a6181;}
.footer2_hz{margin-top:12px;text-align:center;}
.footer2_hz a{display:inline-block;margin:0 2px;border:1px solid #ddd;overflow:hidden;}

/*[u=表单控件]==========*/
.u-lab{width:59px;line-height:35px;padding-right:10px;display:inline-block;float:left;text-align:right;font-size:14px;color:#010101;}
.u-lab-1{width:80px;}
.u-lab .red{color:#f00;}
.u-select1,.u-input1{width:295px;height:33px;border:1px solid #ccc;float:left;text-indent:10px;font-size:14px;color:#878787;}
.u-input1{width:291px;}
.u-input2,.u-input3{width:147px;height:33px;line-height:33px;border:1px solid #ccc;text-indent:10px;}
.u-input3{width:500px;}
.u-radio1{margin-right:5px;}
.u-submit1{width:100%;height:35px;display:block;border:none;cursor:pointer;font-size:16px;color:#fff;background:#bb9b58;}
.u-submit2{width:100px;height:35px;line-height:35px;border:none;cursor:pointer;font-size:14px;color:#fff;background:#bb9b58;}
/*[u=表单提示信息]==========*/
.u-eTips{color:#f00;}
.u-sTips{color:#096;}

/*[u=按钮样式]==========*/
.u-btn1{width:16px;height:16px;margin-top:11px;display:inline-block;float:right;background-image:url(../images/icons/ad_icon.png);}
.z-ope1{background-position:center 0px;}
.z-cls1{background-position:center -16px;}
.u-btn2{height:28px;line-height:28px;padding:0 10px;display:inline-block;}
.z-ok{font-size:12px;color:#fff;-webkit-border-radius:3px;border-radius:3px;background:#e64346;}
.z-cel{border:1px solid #e1e1e1;-webkit-border-radius:3px;border-radius:3px;font-size:12px;color:#999;background:#f3f3f3;}

/*[o=计算器]==========*/
.m-mask{width:100%;height:100%;position:fixed;left:0;top:0;z-index:100;background:#000;opacity:0.5;filter:alpha(opacity=50);display:none;}
.m-calc{width:557px;margin:-268px 0 0 -278px;border:1px solid #705d35;display:none;position:fixed;left:50%;top:50%;z-index:200;background:#fff;}
.m-calc .mt{height:35px;line-height:35px;padding-left:14px;font-size:16px;color:#;background:#f3f3f3;}
.m-calc .tit{float:left;}
.m-calc .clsBtn{width:16px;height:16px;line-height:16px;display:block;margin:9px 10px 0 0;float:right;text-align:center;font-size:12px;font-weight:bold;color:#fff;background:#a40000;}
.m-calc .mn{width:528px;padding-bottom:20px;margin:38px auto 0;}
.m-calc .row{height:70px;line-height:36px;}
.m-calc .tt,.m-calc .tt2{width:120px;margin-right:21px;float:left;text-align:right;font-size:16px;}
.m-calc .tt2{width:150px;}
.m-calc .mb{height:35px;text-align:center;font-size:0;}
.m-calc .rst{height:120px;line-height:22px;padding:0 27px;margin:15px 0;font-size:14px;}
.m-calc .btn1,.m-calc .btn2{width:100px;height:35px;border:none;display:inline-block;font-size:14px;color:#fff;background:#876724;}
.m-calc .btn2{margin-left:10px;background:#bb9b58;}
.m-calc .tips{padding-left:141px;display:block;}
.m-calc .error{width:50%;float:left;color:#f00;}

/*[m=分页样式]==========*/
.fpage{height:27px;line-height:27px;margin-top:65px;text-align:center;}
.fpage_1{margin-top:30px;text-align:right;}
.fpage .num,.fpage .num_dasable{height:24px;line-height:24px;padding:0 10px;margin:0 2px;border:1px solid #ddd;display:inline-block;font-size:14px;color:#a8a8a8;}
.fpage a.current,.fpage .num:hover{border:1px solid #bb9b58;color:#fff;background:#bb9b58;}
.fpage .point{height:27px;padding:0 5px;margin:0 5px;font-size:12px;color:#333;}

/*[m=列表头部]==========*/
.m-hd1{height:29px;line-height:29px;text-align:center;background:url(../images/icons/m_hd1_bg1.png) repeat-x left center;}
.m-hd1 .tit{height:29px;padding:0 15px;display:inline-block;font-size:22px;color:#a40000;background:#fff;}

/*[m=列表头部2]==========*/
.m-hd2{height:41px;line-height:41px;border-bottom:1px solid #ccc;font-size:18px;color:#a40000;}
.m-hd2 .tit{height:29px;padding:0 15px;display:inline-block;font-size:22px;color:#a40000;background:#fff;}

/*[m=产品列表]==========*/
.m-pro1 li{width:283px;height:383px;margin:5px 16px 0 0;float:left;display:inline;position:relative;border:1px solid #ddd;text-align:center;overflow:hidden;}
.m-pro1 .thumb{width:243px;height:243px;margin:0 auto;position:relative;overflow:hidden;}
.m-pro1 .tit{line-height:20px;padding:0 15px;text-align:left;font-size:14px;}
.m-pro1 .tit a{color:#666;}
.m-pro1 .tit .sty1{color:#f00;}
.m-pro1 .bm{width:97%;height:45px;line-height:45px;text-align:left;position:absolute;left:10px;bottom:19px;}
.m-pro1 .doler{font-size:22px;color:#999;}
.m-pro1 .price{font-size:28px;color:#ff7200;}
.m-pro1 .oldprice{font-size:12px;color:#878787;text-decoration:line-through;}
.m-pro1 .disc{line-height:16px;padding:1px 5px;border:1px solid #a40000;display:inline-block;-webkit-border-radius:3px;border-radius:3px;font-size:12px;color:#a40000;}
.m-pro1 .lnk{width:45px;height:45px;display:block;position:absolute;right:10px;top:0;background:url(../images/icons/cart_icon.png) no-repeat;}
.m-pro1 .collect,.m-pro1 .collect_ac{width:22px;height:22px;display:block;position:absolute;right:7px;top:7px;background:url(../images/icons/collect_icon2.png) no-repeat;}
.m-pro1 .collect_act{background:url(../images/icons/collect_icon.png) no-repeat;}

/*[m=产品列表2]==========*/
.m-pro2 li.row{width:146px;height:auto;padding:0 15px;margin:0;border:none;}
.m-pro2 li.row .lisThumb img{width:130px;height:130px;margin:0 auto;display:block;}
.m-pro2 li.row .tit{line-height:18px;text-align:left;}
.m-pro2 li.row .tit a{color:#666;}
.m-pro2 li.row .price{line-height:26px;text-align:left;font-size:15px;font-weight:400;}
.m-pro2 li.row .addCartBx{text-align:left;margin-top:5px;}
.m-pro2 li.row .addCart{width:80px;height:22px;line-height:22px;display:inline-block;border:1px solid #ddd;text-align:center;font-size:12px;color:#999;background:#f5f5f5;-webkit-border-radius:3px;border-radius:3px;}

/*[m=品牌列表]==========*/
.m-brand{margin-top:20px;border:2px solid #ddd;overflow:hidden;}
.m-brand .lst{margin:-2px -10px 0 0;position:relative;}
.m-brand .lst li{width:197px;height:79px;border:1px solid #ddd;float:left;border-left:none;border-bottom:none;}
.m-brand .lst li img{width:139px;height:74px;margin:7px auto;display:block;}

/*[m=品牌列表-2]==========*/
.m-brand2{margin-top:20px;overflow:hidden;background:#f7f7f7;}
.m-brand2 .lst{padding-top:10px;margin:0 -10px 0 0;position:relative;}
.m-brand2 .lst li{width:113px;height:41px;margin:0 6px 20px 0;border-right:1px dotted #ddd;float:left;}
.m-brand2 .lst li img{width:109px;height:41px;margin:7px auto;display:block;}

/*[m=侧边产品展示]==========*/
.m-lst{width:268px;}
.m-lst li{width:268px;height:298px;margin-bottom:10px;border:1px solid #ddd;}
.m-lst li .thumb{width:268px;height:270px;}
.m-lst li .thumb img{width:268px;height:270px;display:block;}
.m-lst li .bom{height:28px;line-height:28px;padding:0 10px;}
.m-lst li .price{padding-left:22px;font-size:16px;font-weight:bold;color:#ff4400;background:url(../images/icons/sid_price_icon.png) no-repeat left center;}
.m-lst li .sales{float:right;color:#999;}
.m-lst li .sales em{font-size:14px;color:#555;}

/*[m=悬浮购物车]==========*/
.sideCar{width:208px;border:1px solid #bb9b58;position:fixed;right:30px;bottom:50px;background:#fff;display:block;
 _position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.sideCar .tt{height:30px;line-height:30px;text-indent:11px;font-size:16px;background:#ededed;}
.sideCar .bd{width:192px;margin:10px auto 0;}
.sideCar .lst{padding:10px 0 15px 0;border-bottom:1px dotted #ccc;position:relative;}
.sideCar .view{width:73px;height:68px;float:left;}
.sideCar .view img{width:73px;height:68px;display:block;}
.sideCar .info{width:114px;float:right;}
.sideCar .tit{font-size:12px;line-height:18px;color:#999;} 
.sideCar .tp{color:#f00;}
.sideCar .price .spn{margin-top:5px;font-size:14px;color:#f00;}
.sideCar .bm{line-height:23px;padding:5px 10px;margin-top:10px;background:#f7f7f7;}
.sideCar .sty1{color:#a40000;font-weight:bold;}
.sideCar .probx{margin-top:5px;}
.sideCar .bm .price{font-size:15px;}
.goCarBtn{height:36px;line-height:36px;display:block;background:url(../images/goCar_bg.jpg) no-repeat;}

/*[m=选项卡切换]==========*/
.m-tabs{padding-top:10px;overflow:hidden;}
.m-tabs .menu{height:27px;}
.m-tabs .menu a{height:27px;line-height:27px;padding:0 22px;margin:-1px 5px 0 0;border:1px solid #ddd;display:block;float:left;white-space:nowrap;position:relative;cursor:pointer;}
.m-tabs .menu a.active{height:33px;line-height:33px;margin-top:-6px;border-bottom:none;background:#fff;font-weight:bold;color:#e4393c;z-index:10;}
.m-tabs .bd{height:238px;padding:15px 0 20px 0;border:1px solid #ddd;position:relative;}
.m-tabs .bd .side-warp{width:988px;height:238px;margin-top:0;}
.m-tabs .bd .side-demo-list{height:auto;}
.m-tabs .bd .scoll01{width:870px;margin:0 auto;}
.m-tabs .bd .tablist{height:238px;position:absolute;left:0;top:15px;}
.m-tabs .bd .side-left-btn{width:20px;height:31px;left:20px;top:109px;background:url(../images/icons/scroll_left_icon.png) no-repeat;}
.m-tabs .bd .side-right-btn{width:20px;height:31px;right:20px;top:109px;background:url(../images/icons/scroll_right_icon.png) no-repeat;}
.m-tabs .bd .show{top:15px;}
.m-tabs .bd .hide{top:400px;display:block !important;}