@charset "utf-8";

 
/*顶部导航*/
.hNav2{height:70px;background:#fff;padding-left:115px;padding-top:10px;}
.hNav2In{width:100%;margin:0 auto;}
.hSearch{width:587px;height:35px;margin-top:10px;float:right;}
.hSearchInput,.cSearchInput,.sSearchInput{width:490px;height:33px;line-height:33px;padding:0 10px;float:left;border:1px solid #ccc;border-right:none;font-size:14px;color:#a9a9a9;background:none;}
.hSearchBtn,.cSearchBtn,.sSearchBtn{width:70px;height:35px;float:left;border:none;font-size:16px;color:#fff;background:#bb9b58;cursor:pointer;}


/*底部*/
.g-ft{width:100%;text-align:center;padding-bottom:10px;margin:24px auto 0;overflow:hidden;}
.ft-nav{width:1000px;margin:0 -50px 15px 0;}
.ftlinks{width:192px;_width:190px;float:left;}
.ftlinks_tit{height:26px;line-height:26px;font-size:16px;color:#231f20;}
.ftlinks_list{width:195px;margin-top:10px;}
.ftlinks_list a{display:block;line-height:23px;}
.ft-cpy{line-height:28px;text-align:center;font-size:12px;color:#bb9b58;}
/*[p=登录界面]==========*/
.hlogo{float:left;}
.login_banner{color:#019fbe;font-size:14px;font-weight:bold;padding-top:16px;margin-bottom:5px;}
.login_bd{background:#980004;}
.login,.register{height:428px;background:#0863af;}
.login{background:url("../images/login_bg.png")/*tpa=http://220.194.55.139/page/images/login_bg.png*/ no-repeat center center;}
.loginCont{width:100%;margin:0 auto;position:relative;}
.loginBox{width:300px;height:340px;border-radius:5px;position:absolute;right:120px;top:53px;background:#c2daf5;}
.login_bner{width:590px;height:269px;display:block;position:absolute;right:480px;top:135px;}
.login_bner img{width:590px;height:269px;display:block;}
.loginIn{width:300px;height:339px;}
.login_hd{height:54px;background-color:#4f97e8;}
.login_title{font-size:14px;color:#fff;font-weight:bold;padding:20px;float:left}
.login_reg{padding:20px;text-align:right;}
.login_reg a{font-size:12px;color:#ffcc00;font-weight:bold;text-decoration:underline;}
.login_name{height:60px;}
.login_pwd{height:50px;}
.login_name{margin-top:5px;}
.loginBox em.error{line-height:24px;font-size:12px;color:#f00;margin-left: 20px;}
.login_iput{width:230px;height:38px;line-height:32px;padding:0 15px;margin:0 20px; border:1px solid #e5e5e5;font-size:15px;}
.login_iput_title {font-size:12px;border: none;margin:20px 20px 10px;color:#4375aa;font-weight:bold;}
.login_logName{height:6px;line-height:16px;position:relative;font-size:12px;padding:15px 20px;font-weight:bold;}
.login_btnRow{height:50px;margin-top:10px;text-align:center;}
.login_btn1{width:166px;height:40px;line-height:40px;border:none;text-align:center;font-size:16px;color:#fff;background-color:#4f97e7;cursor:pointer;display:inline-block;text-shadow:1px 1px 2px rgba(0,0,0,0.3);}
.login_btn1:hover{background-color:#ffa200;}
.login_btn1-1{width:100%;}
.login_code{position:relative;}
.login_code em.error,.login_logName em.error{position:absolute;left:0;top:50px;}
.login_logName em.error{top:22px;}
.login_rempwd{float:right;font-size:12px;color:#4375aa;font-weight:bold;}
.login_rempwd:hover{text-decoration:underline;}
 /*首页*/ 
.htop{line-height:40px;background:#e4e7e7;height:40px;}
.htop img{float:right;margin-right:100px;}
.w1200_1{width:100%;margin:0 auto;height:590px;background:url("../images/index_bg_1.png")/*tpa=http://220.194.55.139/page/images/index_bg_1.png*/ no-repeat;} 
.w1200_2{width:100%;margin:0 auto;background:url("../images/index_bg_2.png")/*tpa=http://220.194.55.139/page/images/index_bg_2.png*/ no-repeat;} 
.hMenu{width:700px;height:80px;float:right;}
.hMenu li{width:110px;height:80px;position:relative;float:left;z-index:10;}
.hMenu li a{width:100%;height:40px;line-height:40px;position:absolute;left:0;top:-5px;display:block;text-align:center;font-size:14px;color:#6b7285;}
.hMenu li a.active{color:#21abc6;}
.use-tab{position:relative;top:170px;left:180px;width:650px;}
.use-tab div{height:330px;overflow:auto;overflow-x:hidden;}
.use-tab table{width:650px;border:1px solid #b1dbe2;} 
.use-tab table th{background-color:#d2e8ec;padding:10px;font-size:14px;color:#1b6f76;font-weight:bold;text-align:left}
.use-tab table td{border-top:1px solid #deeaec; padding:10px;text-align:left}

/*头像*/
.img-circle { border-radius: 50%; border:5px solid #98ced9;}
.m-t-xs { margin-top: 5px;vertical-align:middle;}
.img-responsive{ display: block;height: auto;max-width:60%;} 

.user-head{width:100%;height:170px;text-align:center;overflow:hidden;}
.lishead{text-align:center;padding-left:130px;padding-top:150px;position:relative;overflow:hidden;height:auto !important;}
.lishead ul{display:block;text-align:center;}
.lishead li{float:left;width:250px;height:230px;text-align:center;margin-bottom: 20px;}
.lishead img{text-align:center;margin:0px 40px;overflow:hidden;}
.lishead li div.tit{font-size:14px;font-weight:bold;margin-bottom:10px;}
.lishead li div.txt{font-size:14px;margin-bottom:40px;width:210px;margin-left:10px;}

/*机票酒店*/
.userMenu{float:right;padding-right:180px;font-size:14px;height:80px;line-height:80px;color:#666666;}
.userMenu a{font-size: 14px;margin: 0 5px;color:#6b7285;}
.userMenu span{color:#c7c6c6;}
.userMenu a.active{color:#21abc6;}

.progressbar_bg{height:30px;background-color:#efefef;border-top:5px solid #cac8c8;text-align:center;padding:10px 20px;}
 
.left_notstart{background: #efefef url("../images/icon/left_notstart.png")/*tpa=http://220.194.55.139/page/images/icon/left_notstart.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 35px;position: relative;width: 110px;}
.left_start{color:#fff;background: #efefef url("../images/icon/left_start.png")/*tpa=http://220.194.55.139/page/images/icon/left_start.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 35px;position: relative;width: 110px;}
.left_complete{background: #efefef url("../images/icon/left_complete.png")/*tpa=http://220.194.55.139/page/images/icon/left_complete.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 35px;position: relative;width: 110px;}

.right_notstart{background: #efefef url("../images/icon/right_notstart.png")/*tpa=http://220.194.55.139/page/images/icon/right_notstart.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 27px;position: relative;width: 110px;}
.right_start{color:#fff;background:#efefef url("../images/icon/right_start.png")/*tpa=http://220.194.55.139/page/images/icon/right_start.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 27px;position: relative;width: 110px;}
.right_complete{background:#efefef url("../images/icon/right_complete.png")/*tpa=http://220.194.55.139/page/images/icon/right_complete.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 27px;position: relative;width: 110px;}

.middle_notstart{background:#efefef url("../images/icon/middle_notstart.png")/*tpa=http://220.194.55.139/page/images/icon/middle_notstart.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 35px;position: relative;width: 87px;}
.middle_start{color:#fff;background: #efefef url("../images/icon/middle_start.png")/*tpa=http://220.194.55.139/page/images/icon/middle_start.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 35px;position: relative;width: 87px;}
.middle_complete{background: #efefef url("../images/icon/middle_complete.png")/*tpa=http://220.194.55.139/page/images/icon/middle_complete.png*/ no-repeat scroll 0 0;float: left;height: 12px;padding: 5px 35px;position: relative;width: 87px;}
 

.usrSid{width:203px;float:left;padding-left:1px;background-color:#c2daf5;}
.usrSubMenu{margin:0 auto;display:none;}
.usrSubMenu li{height:39px;line-height:39px;padding-left:23px;}
.usrSubMenu li.act{font-weight:bold;color:#4f97e7;border-left:3px solid #4f97e7;background-color:#fff;}
.usrSubMenu li a{font-size:14px;color:#716f6f;}
.usrSubMenu li a.active{font-weight:bold;}
/*主体*/  
.usrMn{width:1075px;float:right;}
.usrBd_index{width:100%;background:url("../images/index_bg_3.png")/*tpa=http://220.194.55.139/page/images/index_bg_3.png*/ repeat-y;} 
.usrfligh{background:url("../images/jpjd_bg.png")/*tpa=http://220.194.55.139/page/images/jpjd_bg.png*/  repeat-y;background-attachment:fixed;background-position:top right; width: 100%;}
.flighMn{height:20px;font-size:14px;font-weight:bold;color:#4f97e8;padding:30px 10px 0;}
.tabfligh td{padding:10px;margin:10px;}
.txtfligh{border:1px solid #a5c8f0;padding: 6px 12px;width:180px;}

.usrBd{width:100%;background-color:#fff;} 


