@{
    ViewBag.Title = "酒店服务";
    Layout = null;
}
<div class="flighMn">
    酒店服务
</div>
<div>
    <img src="/images/row_line.png">
</div>
<div>
    <table class="tabfligh">
        <tbody>
            <tr>
                <td>
                    <img src="/images/icon/hotels.png"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="酒店名称"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="联系电话"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/address.png"></td>
                <td colspan="2">
                    <input type="text" class="txtfligh" placeholder="酒店地址" style="width: 410px;"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/calendar.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="入住日期"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="退房日期"></td>
            </tr>

        </tbody>
    </table>

</div>
<div>
    <img src="/images/row_line.png">
</div>
<div>
    <table class="tabfligh">
        <tbody>
            <tr>
                <td>
                    <img src="/images/icon/hotels.png"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="酒店名称"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="联系电话"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/address.png"></td>
                <td colspan="2">
                    <input type="text" class="txtfligh" placeholder="酒店地址" style="width: 410px;"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/calendar.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="入住日期"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="退房日期"></td>
            </tr>

        </tbody>
    </table>

</div>
<div>
    <img src="/images/row_line.png">
</div>
<div>
    <table class="tabfligh">
        <tbody>
            <tr>
                <td>
                    <img src="/images/icon/hotels.png"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="酒店名称"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="联系电话"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/address.png"></td>
                <td colspan="2">
                    <input type="text" class="txtfligh" placeholder="酒店地址" style="width: 410px;"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/calendar.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="入住日期"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="退房日期"></td>
            </tr>

        </tbody>
    </table>

</div>
<div>
    <img src="/images/row_line.png">
</div>
<div>
    <table class="tabfligh">
        <tbody>
            <tr>
                <td>
                    <img src="/images/icon/hotels.png"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="酒店名称"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="联系电话"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/address.png"></td>
                <td colspan="2">
                    <input type="text" class="txtfligh" placeholder="酒店地址" style="width: 410px;"></td>
            </tr>
            <tr>
                <td>
                    <img src="/images/icon/calendar.png"></td>

                <td>
                    <input type="text" class="txtfligh" placeholder="入住日期"></td>
                <td>
                    <input type="text" class="txtfligh" placeholder="退房日期"></td>
            </tr>

        </tbody>
    </table>

</div>
<script>
    console.log("122223");
</script>
