@{
    ViewBag.Title = "title";
    Layout = null;
}@{
    ViewBag.Title = "title";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/css/base.css" type="text/css" rel="stylesheet">
    <link href="~/css/style.css" type="text/css" rel="stylesheet">
    <link href="~/bower_components/toastr/build/toastr.min.css" rel="stylesheet" />
    <style type="text/css"></style>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/toastr/build/toastr.min.js"></script>
    <script src="~/bower_components/moment/min/moment.min.js"></script>
    <script src="~/bower_components/moment/locale/zh-cn.js"></script>
    <script src="~/bower_components/underscore/underscore-min.js"></script>
    <!--表单验证-->
    <script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/bower_components/jquery-validation/src/localization/messages_zh.js"></script>
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/babel-polyfill/6.2.0/polyfill.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="js/ie6PNG.js" type="text/javascript"></script>
    <script type="text/javascript">DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>首页</title>
</head>
<body>
    <!--***header***-->
    <div class="htop">
        <img src="/images/tel_400.png">
    </div>
    <div class="hNav2">
        <div class="userMenu">
            <a href="javascipt:void(0)" class="active">首页</a><span>/</span>
            <a href="javascipt:void(0)">查看服务</a><span>/</span>
            <a href="javascipt:void(0)">查看预约</a><span>/</span>
            <a href="javascipt:void(0)">机票酒店</a><span>/</span>
            <a href="javascipt:void(0)">查看签证</a><span>/</span>
            <a href="javascipt:void(0)">接送服务</a><span>/</span>
            <a href="javascipt:void(0)">海外服务</a><span>/</span>
            <a href="javascipt:void(0)">联系方式</a>
        </div>
    </div>
    <a class="wecTips">
        <img src="/images/logo_c.png">
    </a>
    </div>
    <!--***header***-->
    <!--Progress Bar-->
    <div class="progressbar_bg">
        <div style="position: relative; margin-left: 200px; width: 1000px;">
            <div state="1">起草</div>
            <div state="2">审批中</div>
            <div state="3">合同签订</div>
            <div state="4">执行中</div>
            <div state="5">预约完成</div>
            <div state="6">出国准备</div>
        </div>
    </div>
    <!--Progress Bar-->
    <div class="usrBd_index">
        <div class="w1200_1">
            <div class="use-tab">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 350px;">服务项目</th>
                            <th style="width: 120px;">服务内容</th>
                            <th style="width: 120px;">单位计算</th>
                        </tr>
                    </thead>
                </table>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 350px;">文本内容文本内容文本内容文本内容文本内容 </td>
                                <td style="width: 120px;">文本内容</td>
                                <td style="width: 120px;">文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                            <tr>
                                <td>文本内容文本内容文本内容文本内容文本内容 </td>
                                <td>文本内容</td>
                                <td>文本内容</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="w1200_2">
            <div class="lishead">
                <ul>
                    <li>
                        <div class="user-head">
                            <img class="img-circle m-t-xs img-responsive" src="/images/head/team-daiwei.png">
                        </div>
                        <div class="tit">姓名</div>
                        <div class="txt">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</div>
                    </li>
                    <li>
                        <div class="user-head">
                            <img class="img-circle m-t-xs img-responsive" src="/images/head/team-pic3.png">
                        </div>

                        <div class="tit">姓名</div>
                        <div class="txt">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</div>
                    </li>
                    <li>
                        <div class="user-head">
                            <img class="img-circle m-t-xs img-responsive" src="/images/head/team-pic7.png">
                        </div>

                        <div class="tit">姓名</div>
                        <div class="txt">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</div>
                    </li>
                    <li>
                        <div class="user-head">
                            <img class="img-circle m-t-xs img-responsive" src="/images/head/team-youyuchen.png">
                        </div>

                        <div class="tit">姓名</div>
                        <div class="txt">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</div>
                    </li>
                    <li>
                        <div class="user-head">
                            <img class="img-circle m-t-xs img-responsive" src="/images/head/team-youyuchen.png">
                        </div>

                        <div class="tit">姓名</div>
                        <div class="txt">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</div>
                    </li>
                    <li>
                        <div class="user-head">
                            <img class="img-circle m-t-xs img-responsive" src="/images/head/team-youyuchen.png">
                        </div>

                        <div class="tit">姓名</div>
                        <div class="txt">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!--***footer***-->
    <div class="g-ft" style="background-color: #595655; margin: 0px; color: #acabaa; padding-top: 15px; height: 15px;">
        <div class="clearfix">
            Copyright © 2013 All Rights Reserved  版权所有：北京盛诺一家医院管理咨询有限公司&nbsp;&nbsp;&nbsp;&nbsp;京ICP备11025849-2京网公安备11010102001876号
        </div>
    </div>
    <!--***footer***-->


</body>
</html>
