@model SLCProtal.Models.Home.HomeModel
@{
   
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://220.194.55.139/page/css/base.css" type="text/css" rel="stylesheet">
    <link href="http://220.194.55.139/page/css/style.css" type="text/css" rel="stylesheet">
    <link href="~/bower_components/toastr/build/toastr.min.css" rel="stylesheet" />
    @* <script type="text/javascript" src="js/jquery.min.js"></script>*@
    @* <script type="text/javascript" src='http://cn.vuejs.org/js/vue.js'></script>*@
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/toastr/build/toastr.min.js"></script>
    <script src="~/bower_components/moment/min/moment.min.js"></script>
    <script src="~/bower_components/moment/locale/zh-cn.js"></script>
    <script src="~/bower_components/underscore/underscore-min.js"></script>
    <script src="~/js/jquery.history.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/main.js"></script>
    <!--表单验证-->
    <script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/bower_components/jquery-validation/src/localization/messages_zh.js"></script>

    <style type="text/css"></style>
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/babel-polyfill/6.2.0/polyfill.js"></script>
    <![endif]-->
    <!--表单验证-->
    @* <script src="org/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="org/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>*@

    <!--[if IE 6]>
    <script src="js/ie6PNG.js" type="text/javascript"></script>
    <script type="text/javascript">DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <title>酒店预订</title>
</head>
<body>
    <!--***header***-->
    <div class="hNav2">
        <div class="userMenu">
            <img src="/images/user.png">
            @ViewData["UserName"]
        </div>
        <a class="wecTips">
            <img src="/images/logo_c.png">
        </a>
    </div>
    <!--***header***-->
    <!--Progress Bar-->
    <div class="progressbar_bg">
        <div style="position: relative; margin-left: 200px; width: 1000px;">
            <div state="1">起草</div>
            <div state="2">审批中</div>
            <div state="3">合同签订</div>
            <div state="4">执行中</div>
            <div state="5">预约完成</div>
            <div state="6">出国准备</div>
        </div>
    </div>
    <!--Progress Bar-->
    <!--content-->

    <div class="usrBd">
        <div class="clearfix">
            <div class="usrSid">
                <div class="usrSidMenu">
                    <ul class="usrSubMenu" style="display: block;">
                        <li><a href="/Home/Index" index="0">首页</a></li>
                        <li><a href="javascript:void(0)" index="1">查看服务</a></li>
                        <li><a href="javascript:void(0)" index="2">海外服务</a></li>
                        <li><a href="javascript:void(0)" index="3">查看翻译</a></li>
                        <li><a href="javascript:void(0)" index="4">查看签证</a></li>
                        <li><a href="javascript:void(0)" index="5" url="Service/Reservation" bgclass="usrrese">查看预约</a></li>
                        <li><a href="javascript:void(0)" index="6" url="Service/flights" bgclass="usrfligh">机票预订</a></li>
                        <li><a href="javascript:void(0)" index="7">接机服务</a></li>
                        <li><a href="javascript:void(0)" index="8">送机服务</a></li>
                        <li><a href="javascript:void(0)" index="9" url="Service/Hotels" bgclass="usrfligh">酒店服务</a></li>
                        <li><a href="javascript:void(0)" index="10">产品研发</a></li>
                        <li><a href="javascript:void(0)" index="11">医生留言</a></li>
                        <li><a href="javascript:void(0)" index="12">客户投诉</a></li>
                        <li><a href="javascript:void(0)" index="13" url="Other/Contact" bgclass="usrcontact">联系方式</a></li>


                    </ul>
                </div>
            </div>
            <div class="usrMn">
            </div>
        </div>
    </div>
    <!--content-->
    <!--***footer***-->
    <div class="g-ft" style="background-color: #efefef; margin: 0px; color: #a8a8a8; padding-top: 15px; height: 15px;">
        <div class="clearfix">
            Copyright © 2013 All Rights Reserved  版权所有：北京盛诺一家医院管理咨询有限公司&nbsp;&nbsp;&nbsp;&nbsp;京ICP备11025849-2京网公安备11010102001876号
        </div>
    </div>
    <!--***footer***-->

    <script>

        var indexs = JSON.parse('@Html.Raw(Json.Encode(Model.SiteMaps))');
        var menuState = '@Model.Status';
      

    </script>

</body>
</html>
